<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/94ea97a9-b2d5-4f11-b998-c61b4b2d103e/resourceGroups/webapi20231123120505/providers/Microsoft.Web/sites/webapi20231123120505</ResourceId>
    <ResourceGroup>webapi20231123120505</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapi20231123120505.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b2b2ece6-9a8c-40d1-a4e3-8d0e3392ec18</ProjectGuid>
    <PublishUrl>https://webapi20231123120505.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webapi20231123120505</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>